@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

@font-face{
    font-family: 'proxima-nova';
    src: url(./proxima.woff) format('woff');
    font-weight: 300;
}
@font-face{
    font-family: 'proxima-nova';
    src: url(./proxima-regular.woff) format('woff');
    font-weight: 400;
}
@font-face{
    font-family: 'proxima-nova';
    src: url(./proxima-bold.woff) format('woff');
    font-weight: 500;
}
body{
    background: #0000009c;
    font-family: 'proxima-nova';
    font-weight: 400;
}
audio{
    display: none;
}
.convai{
    background: #fff;
    width: 931px;
    margin: auto;
    display: grid;     
    height: auto;   
    margin-top: 65px;
}
.convai-container {        
    margin: auto;
    display: grid;  
    width: inherit;  
    height: inherit;
}

.convai-row:nth-child(1) {      
    display: grid;        
    height: 59px;    
    background: #eff3f6;
    grid-template-columns: 0.3fr 1fr 0.5fr;
}
.convai-share{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:10px;
}
.convai-share button {
    background: #fbfcfd;
    padding: 10px;
    border: solid 1px #d0d9e2;    
    font-size: 12px;
    font-family: 'proxima-nova';
    font-weight: 500;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    cursor: pointer;
    color: #546c86;
    letter-spacing: 0.3px;
}
.convai-share button:hover {
    opacity: 0.8;
}
.convai-share svg {
    margin-right: 3px;
}
.convai-player{
    grid-template-columns: auto auto auto;    
    justify-content: space-evenly;
    /* display: flex;     */
}
.convai-player img{
    cursor: pointer;
}
.convai-player{
    display: inline-grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;    
    justify-items: center;
    align-items: center;
}
.convai-player img {
    width: 30px;
}
.convai-player-play img {
    width: 40px;
}

.convai-player-rewind .rewind:hover, .convai-player-forward .forward:hover{
    opacity: 0;
}

.convai-player-rewind img, .convai-player-forward img{
    position: absolute;
    width: 22px;
    margin-top: -10px;
}

.convai-player-forward {
    margin-right: auto;
}

.convai-player:first-child, .convai-player:last-child{
    color: rgb(84, 108, 134);
}
.convai-speed-adjust{    
    width: 40px;
    height: 20px;
    margin-top: 20px;
    font-family: 'proxima-nova';
    font-weight: 400;
}
.convai-speed-adjust > select{
    border: 1px solid #d0d9e2;
    color: #59718a;
    font-family: 'proxima-nova';
    font-weight: 400;
    font-size: 13px;
    appearance: none;
    -webkit-appearance: none;
    padding: 0 7px;
    border-radius: 50px;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    background: #fcfdfd;
}
.convai-speed-adjust > select:hover {
    background: #f2f6f6;
}
.convai-speed-adjust > select:focus {
    outline: none;
}
.convai-row:nth-child(2){
    width: 930px;
    border: dotted 1px #e4e4e4;
}
.convai-search-transcript{
    height: 34px;    
}
.convai-search-transcript > input{
    padding: 10px 35px;
    width: 370px;
    border-radius: 5px;
    border: solid 1px #dfe3e9;
    font-size: 15px;
    outline: none;
    margin-left: 20px;
    font-family: 'proxima-nova';
    background-image: url('../images/search.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.convai-search-transcript > input:focus {
    border: 1px solid #cbd1db;
}
.convai-search-transcript>input::placeholder{
    opacity: 0.5;
}
.convai-row:nth-child(3){
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.convai-row:nth-child(4){
    max-height: 1000px;
    min-height: 100px;
}


.convai-transcript__text {
    /* font-family: "proxima nova", "proxima-nova", "Helvetica Neue", "Helvetica", Arial, sans-serif; */    
    padding-left: 10px;    
    border-left: solid 2px #c2dcf1;
    color: #556C86;    
    cursor: pointer;
}
.convai-transcript__time {
    display: flex;
    align-items: center;
    justify-content: center; 
}
.convai-transcript__time,.convai-transcript__text {
    align-items: flex-start;    
    display: flex;    
}
.convai-transcript__time.you {
    color: #269ef6;
}
.convai-transcript__time.me {
    color: #8768e8;
}
.convai-transcript__text.you {
    color: #72869b;
}
.convai-transcript__text.me {
    color: #354052;
}

.convai-transcript__time,.convai-transcript__text
{    
    font-size: 13px;
    font-family: 'proxima-nova';
    line-height: 20px;
    font-weight: 400;
    color: #556c86;
}
.convai-transcript {
    display: grid;
    grid-template-columns: 7% 93%;
    grid-gap: 10px;    
    padding: 15px 10px;
    width: 700px;  
    padding-right: 15px;
    width: 100%;
}
.convai-transcript.me {
    grid-template-columns: 2% 10% 90%;
}
.transcript{
    height: 350px;
    overflow: scroll;
    scrollbar-width: thin;
}

.convai-sound-bar {
    
    padding: 20px;
    position: relative;
}
/* .convai-sound-bar .bar-progress .sound-wave-connector {    
    visibility: hidden;
} */
.container-bar {    
    overflow: hidden;
    border-right:solid 1px #354052 ;
}
.bar-original .sound-wave-connector{
    border: solid 0.5px #98a3b5;
}
.convai-sound-bar .bar-progress {    
    margin-top: -10.9%;
    height: 100px;    
}
.convai-sound-bar .bar-progress .bar{
    background: #bec6d2;
}
.bar-progress .sound-wave-you {
    width: 888px;
}
.bar-progress .sound-wave-me {
    width: 888px;
}

#time-calc{
    padding: 1px 5px;
    border-radius: 5px;
    background: #f2f5f7;
    display: inline-block;
    min-width: 80px;
    text-align: center;
    font-weight: 500;
}

.running-time {
    color: #404b5c;
}

.sound-icon {    
    display: flex;
    flex-direction: column;    
  }
  
  .sound-wave .bar {
    display: inline-block;
    width: 2px;
    height: 30px;
    margin-left: 1px;
    background: #8868e9;
    animation: sound 0ms -800ms linear infinite alternate;
    transition: height 0.8s;    
    margin-left: 2px;
    vertical-align: middle;
  }
  
  .sound-wave {
    opacity: 1;
    height: 35px;
  }
  .sound-wave-connector{       
      border: solid 1px #98a3b5;
  }
  .sound-wave-you .bar{
      background: #0792f0;
  }
  .sound-wave-me, .sound-wave-you{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
  }
  .sound-wave-you #wave{
    margin-top: 5px;
  }
  .sound-wave-me{
      margin-top: 20px;
  }  
  
  .conv-percentage {
    text-transform: uppercase;
    color: #0792f0;
    display: flex;
    align-items: center;
    font-size: 13px;
    letter-spacing: 0.3px;
    font-weight: 400;
  }
  .conv-percentage.you {
    color: #8868e9;
  }
  .conv-percentage.me {
    color: #0792f0;
  }
  .completing-time{
    color: #8e969b;
  }
  
  .reading {
    background: skyblue;
    padding: 3px;
    border-radius: 5px;
    color: black;
  }

  .word:hover, .word.search-select {
    background: #bde0fb;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
  }
  .convai-transcript:hover {
    background: #f2fafe;
   }